*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(4, 4, 31);
}

h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin: 40px;
}

.img-container{
    text-align: center;
}

.img-container img{
    margin: 10px;
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    width: 300px;
    height: 300px;
}

.btn{
    background-color: white;
    color: rgb(7, 7, 46);
    font-size: 20px;
    padding: 10px 20px;
    margin: 30px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px, rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
}